In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("data.csv")
data.head()

,Unnamed: 0,code,name,net_profit_ratio,p_undulate,turnover_rate,currentasset_turnover,currentratio,sheqratio,net_profit_ration,sheqration,score
0,0,600000,浦发银行,32.86,0.399889,0.957482,0.0000,0.0000,7.5666,32.86,7.5666,35.882341
1,1,600004,白云机场,11.65,0.650292,1.000000,0.6123,0.3104,62.6884,11.65,62.6884,46.536768
2,2,600009,上海机场,50.14,0.497168,0.567203,0.2575,5.1268,93.3685,50.14,93.3685,72.672337
3,3,600010,包钢股份,3.62,0.566898,0.694900,0.3157,0.5325,36.9623,3.62,36.9623,32.455564
4,4,600011,华能国际,5.81,0.476272,0.668875,0.7421,0.4354,26.3730,5.81,26.3730,36.509711